@use "./variables" as *;

@media (max-width: 800px) {
    .navBar {
        position:relative;
        .wrapper {
            justify-content: center;
            .pageLinks {
                position:absolute;
                bottom:-50px;
                left:15px;
                a {
                    margin-right:10px;
                    color: $whiteOne;
                }
            }
            .searchCart {
                flex-direction: column-reverse;
                position:absolute;
                bottom: -39px;
                right:15px;
                a {
                    color:$whiteOne;
                }
            }
        }
    }
    
    .searchCart {
        a,
        .searchButtons {
          margin-left:10px;
        }
    }

    .inTouch {
        form {
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 0.8rem;
            }
        }
    }
    
    .contact {
        input {
            width: 100px;
        }  
    }
}

@media (max-width: 500px) {
    .pageLinks {
        flex-direction: column;
    }
    .searchCart {
        flex-direction: column;
    }
    .details {
        margin:5% 0%;
        h2 {
            position:relative;
            font-size: 1.2rem;
            top:0;
            width:100%;
            text-align: center;
            margin:20px 0px;
        }
        h3 {
            font-size: 0.8rem;
            margin-bottom: 0px;
        }
        p {
            font-size: 0.5rem;
            line-height: normal;
        }
        .detailsInfoFlex {
            .phone,
            .address,
            .emailDetails {
                text-align: center;
            }
        }
    }
    .inTouch {
        margin: 30px 0px;
        h3 {
            font-size: 0.8rem;
            padding-bottom: 0px;
        }
        p {
            font-size: 0.5rem;
            line-height: normal;
            margin-bottom: 50px;
        }
        form {
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 0.5rem;
            }
        }
    }
    .bottomBanner {
        display:none;
    }
    .contact {
        padding-bottom: 10%;
        .bottomNav {
            flex-direction: column;
            align-items: center;
            text-align: center;
            h3 {
                margin-top: 20px;
            }
            .twitterWidget {
                text-align: center;
                input {
                    width: auto;
                }
            }
            .socialLinks {
                left:42%;
                bottom:-40px;
            }
        }
    }
}

@media (max-width: 320px) {
    .navBar {
        position:relative;
        .wrapper {
            justify-content: center;
            .pageLinks {
                position:absolute;
                bottom:-50px;
                left:15px;
                a {
                    color: $whiteOne;
                }
            }
            .searchCart {
                flex-direction: column-reverse;
                position:absolute;
                bottom: -39px;
                right:15px;
                a {
                    color:$whiteOne;
                }
            }
        }
    }
    .details {
        .wrapper {
            text-align: center;
            .detailsInfoFlex {
                flex-direction: column;
                i {
                    margin-top: 20px;
                }
            }
        }
    }
    .inTouch {
        text-align: center;
        form {
            input[type="text"],
            input[type="email"],
            textarea {
                font-size: 0.45rem;
            }
        }
    }
    .contact {
        .contactInfo {
            p {
                font-size: 0.6rem;
            }
        }
        padding-bottom: 15%;
    }
}