html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navBar {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #f6f6f6;
  height: auto;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}
.navBar .wrapper .homeLink {
  text-decoration: line-through;
}
.navBar .wrapper .pageLinks {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar .wrapper .searchCart {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .wrapper .searchCart button {
  background-color: transparent;
  border-style: none;
}

html {
  font-size: 125%;
}

body,
section,
ul,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
article {
  font-family: "Open Sans", sans-serif;
}

nav,
a,
p,
article {
  font-size: 0.7rem;
  color: #333333;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
button,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #333333;
}

h4 {
  color: #ffffff;
}

input,
textarea {
  text-transform: none;
}

h1 {
  font-size: 1.85rem;
  line-height: 24px;
  letter-spacing: 1.8px;
  font-weight: bold;
}

h2 {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 1.8px;
}

h4 {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 7px;
}

button {
  font-size: 0.7rem;
  font-weight: bold;
  color: #333333;
  line-height: 24px;
  letter-spacing: 0.7px;
}

.bottomNav h3,
.bottomNav p,
.bottomNav a {
  color: #ffffff;
}
.bottomNav .contactInfo p {
  line-height: 10px;
}
.bottomNav .recentPosts {
  color: #ffffff;
  list-style: disc;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: calc(50vh - 80px);
  background-image: url("../assets/contact-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.details {
  position: relative;
  margin: 100px 0px;
}
.details h2 {
  position: absolute;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 60px;
  width: 10%;
  top: -180px;
}
.details h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.details p {
  color: rgba(51, 51, 51, 0.5);
  line-height: 20px;
}
.details .detailsInfoFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4% 0%;
}
.details .detailsInfoFlex .phone,
.details .detailsInfoFlex .address,
.details .detailsInfoFlex .emailDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.details .detailsInfoFlex .phone h4,
.details .detailsInfoFlex .address h4,
.details .detailsInfoFlex .emailDetails h4 {
  color: #333333;
  margin-top: 20px;
  font-weight: bold;
}
.details .detailsInfoFlex .phone p,
.details .detailsInfoFlex .address p,
.details .detailsInfoFlex .emailDetails p {
  margin-bottom: 0;
}
.details .detailsInfoFlex .line {
  width: 1px;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.inTouch h3 {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}
.inTouch p {
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 100px;
}
.inTouch form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.inTouch form label[for=name],
.inTouch form label[for=email],
.inTouch form label[for=subject],
.inTouch form label[for=comment] {
  display: none;
}
.inTouch form input[type=text],
.inTouch form input[type=email] {
  width: 30%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.inTouch form input[type=email] {
  border-bottom: 1px solid #333333;
}
.inTouch form textarea {
  width: 100%;
  padding: 30px 0px;
  margin-bottom: 50px;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}
.inTouch form button {
  border: none;
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
  font-weight: normal;
}

.bottomBanner {
  background-image: url("../assets/contact-2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5%;
  height: 700px;
}

.contact {
  background-color: #333333;
  padding: 5% 0%;
}
.contact .bottomNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.contact .bottomNav h3 {
  margin-bottom: 30px;
}
.contact .bottomNav form {
  margin-top: 40px;
}
.contact .bottomNav .recentPosts h3 {
  text-align: center;
}
.contact .bottomNav .twitterWidget {
  text-align: right;
}
.contact .bottomNav .twitterWidget label[for=email] {
  display: none;
}
.contact .bottomNav .twitterWidget input[type=email] {
  height: 40px;
  margin-right: -5px;
  border-style: none;
}
.contact .bottomNav .twitterWidget button {
  background-color: #c3dab7;
  color: #333333;
  border-width: 0;
  font-size: 1rem;
  text-align: center;
  padding: 6px 10px 10px 10px;
}
.contact .bottomNav .socialLinks {
  position: absolute;
  left: 0;
  bottom: -20px;
}
.contact .bottomNav .socialLinks a {
  margin-right: 10px;
}

footer {
  background-color: #333333;
  text-align: center;
  padding: 4% 0%;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 800px) {
  .pageLinks a {
    margin-right: 10px;
  }
  .searchCart a,
.searchCart .searchButtons {
    margin-left: 10px;
  }
  .inTouch form input[type=text],
.inTouch form input[type=email],
.inTouch form textarea {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .pageLinks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .searchCart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .details {
    margin: 5% 0%;
  }
  .details h2 {
    position: relative;
    font-size: 1.2rem;
    top: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0px;
  }
  .details h3 {
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
  .details p {
    font-size: 0.5rem;
    line-height: normal;
  }
  .details .detailsInfoFlex .phone,
.details .detailsInfoFlex .address,
.details .detailsInfoFlex .emailDetails {
    text-align: center;
  }
  .inTouch {
    margin: 30px 0px;
  }
  .inTouch h3 {
    font-size: 0.8rem;
    padding-bottom: 0px;
  }
  .inTouch p {
    font-size: 0.5rem;
    line-height: normal;
    margin-bottom: 50px;
  }
  .inTouch form input[type=text],
.inTouch form input[type=email],
.inTouch form textarea {
    font-size: 0.5rem;
  }
  .bottomBanner {
    display: none;
  }
  .contact {
    padding-bottom: 10%;
  }
  .contact .bottomNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .contact .bottomNav h3 {
    margin-top: 20px;
  }
  .contact .bottomNav .twitterWidget {
    text-align: center;
  }
  .contact .bottomNav .socialLinks {
    left: 42%;
    bottom: -40px;
  }
}